---
import FooterSection from '../../components/FooterSection.astro';
import TalkComponent from '../../components/TalkComponent.astro';
import Layout from '../../layouts/Layout.astro';

const imageNumbers = [1, 3, 4, 5, 2, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 18, 17, 19, 21, 20, 22];
---

<Layout title="Four Seasons Homestay | Homestay in tirupati">
	<section class="min-h-[90vh] bg-contactBanner bg-cover bg-no-repeat bg-center">
		<nav class="flex justify-between items-center px-10 py-10 lg:px-24 lg:h-[20vh]">
            <a href="/">
				<img src="/fourSeasonsHomestay.jpeg" alt="Four Seasons Homestay in tirupati" class="w-32 lg:w-56 ">
			</a>
			<ul class="hidden lg:flex space-x-4 ">
				<a href="/">
					<li class="cursor-pointer hover:text-green-600">HOME</li>
				</a>
				<a href="/homestay-tirupati">
					<li class="cursor-pointer hover:text-green-600">ABOUT</li>
				</a>
				<a href="/homestay-tirupati-contact">
					<li class="cursor-pointer text-green-600">CONTACT</li>
				</a>
			</ul>
		</nav>
		<div class=" lg:h-[70vh] flex justify-center pt-10">
			<div class="text-center space-y-6">
				<div>
					<h1 class=" text-4xl lg:text-6xl text-green-800 font-medium">CONTACT US</h1>
				</div>
			</div>
		</div>
	</section>
    <section class="px-44 py-32 h-[100vh] space-y-10">
        <h1 class="text-4xl">Talk To Us</h1>
        <section class="space-y-10">
            <div>
                <div class="flex gap-5 ">
                    <div class="border border-green-500 rounded-full h-[40px] w-[40px] text-center flex items-center justify-center">
                        <img src="icons/email.png" alt="email homestay tirupati" class="w-[20px] h-[20px]  ">
                    </div>
                    <div class="space-y-1">
                        <p class="text-gray-500">EMAIL</p>
                        <p class="text-green-800 text-2xl">contact@fourseasonshomestay.com</p>
                    </div>
                </div>
                <div>

                </div>
            </div>
            <div>
                <div class="flex gap-5 ">
                    <div class="border border-green-500 rounded-full h-[40px] w-[40px] text-center flex items-center justify-center">
                        <img src="icons/call.png" alt="email homestay tirupati" class="w-[20px] h-[20px]  ">
                    </div>
                    <div class="space-y-1">
                        <p class="text-gray-500">PHONE NUMBER</p>
                        <p class="text-green-800 text-2xl">+91 91600 57731</p>
                        <p class="text-green-800 text-2xl">+91 9000374374</p>
                    </div>
                </div>
                <div>

                </div>
            </div>
            <div>
                <div class="flex gap-5 ">
                    <div class="border border-green-500 rounded-[100%] h-[40px] w-[50px] text-center flex items-center justify-center">
                        <img src="icons/pin.png" alt="email homestay tirupati" class="w-[20px] h-[20px]  ">
                    </div>
                    <div class="space-y-1">
                        <p class="text-gray-500">ADDRESS</p>
                        <p class="text-green-800 text-2xl">
                            1-25/12, car showroom road, opposite to Tata motors, beside Mango Market Road, Kr Nagar, Srinivasapuram, Tirupati, Andhra Pradesh 517503</p>
                    </div>
                </div>
                <div>

                </div>
            </div>
        </section>
    </section>
    <section class="px-24 py-10">
        <iframe class="w-full h-[50vh]" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15511.148291373858!2d79.4347666!3d13.6098128!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a4d4b22876708e3%3A0xe54a233317944705!2sFour%20Seasons%20Homestay!5e0!3m2!1sen!2sin!4v1722078295268!5m2!1sen!2sin"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
	<FooterSection />
</Layout>

<style>

</style>
