---

---

	<section class="bg-footer bg-no-repeat bg-cover min-h-[80vh] flex justify-center pt-20 px-10">
		<div class="space-y-10 text-center">
            <h1 class="text-4xl tracking-widest text-green-900 font-semibold">TALK TO US</h1>
            <div>
                <p class="font-bold text-gray-600 tracking-wide text-lg">+91 9000374374 - Madhu – Four Seasons Homestay</p>
            </div>
            <div>
                <a href="/homestay-tirupati-contact">
                    <div class="bg-[#74a94b] text-white w-fit mx-auto py-2 px-12 cursor-pointer hover:bg-green-900">
                        GET IN TOUCH
                    </div>
                </a>
            </div>
        </div>
	</section>


